/*Validações*/
.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.field-validation-error {
    color: #f00;
    font-size: 12px;
    display: block;
}

.field-validation-valid {
    display: none;
}

.input-validation-error, valid {
    border: 1px solid #f00 !important;
    background-color: #fee;
}

.validation-summary-errors {
    color: #f00;
    font-size: 12px;
}

    .validation-summary-errors ul {
        list-style-type: none;
    }

.validation-summary-valid {
    display: none;
}

/*Validações Fim*/